.App {
  text-align: center;
}

.heroRaila{
  text-align: center;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), */

.description-raila{
  width: 600px;
  position: absolute;
  z-index: 999;
  color: whitesmoke;
  top: 30%;
  left: 20%;
}

/* .description h1{
  font-size: 46px;
} */
h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
p {
  text-align: center;
  /* padding: 0 30vw;
  margin-top: 0.5rem; */
  /* font-size: 1.2rem; */
  font-size: 22px;
}
/* .description p{
  font-size: 22px;
} */
/* .txt{
  font-size: 32px;
} */
.carousel-boult{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-boult span{
  display: none;
 width: 45px;
 height: 12px;
 background-color: rgb(179, 178, 176);
 margin-left: 10px;
 border-radius: 10px;
 cursor: pointer;
 box-shadow: 3px 2px 2px rgba(73, 72, 72, 0.338);
}

.transparent-background{
  max-width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  /* background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(166, 255, 0)); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media all and (max-width: 768px){
  .heroRaila{
    height: 80vh;
  }
  .description-raila{
      width: fit-content;
      top: 10%;
      left: 0%;
  }
  
   h1{
      font-size: 22px;
  }
  
   p{
      font-size: 15px;
  }
  .carousel-boult span{
      display: none;
  }
  
}